<footer class="foot">
<div class="footer">
  
  <span class="sections articles">
    <a class="links" href="https://adalab.es">ARTICLES</a>
    <a class="links" href="https://adalab.es">BOOKS</a>
    <a class="links" href="https://adalab.es">EVENTS</a>
    <a class="links" href="https://adalab.es">REASONS</a>
    <a class="links" href="https://adalab.es">TIPS</a>
  </span>

  <span class="sections twitter">
    <a class="links" href="https://twitter.com/Adalab_Digital?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">TWITTER</a>
    <a class="links" href="https://www.instagram.com/adalab_digital/?hl=es">INSTAGRAM</a>
    <a class="links" href="https://adalab.es">MASTODON.SOCIAL</a>
  </span>
  
  <span class="sections copy">
    <P>©2023</P>
    <p>we components</p>
  </span>
  <a class =buttontop href="/src/images/ico-scroll-down.svg" href="#buttontop"></a>
  
  </div>
</footer>