<header class="header">
  <buttom class="buttom" href="https://adalab.es"><img src="/assets/images/ico-menu.svg" srcset="" class="menu">
  </buttom>

  <section class="principalbox">
    <span class="anonymous">ANONYMOUS PROXY</span>
    <span class="inhac">In hac habitasse platea dictumst.</span>
    <a href="/src/images/ico-arrow.svg"></a>
    <div class="scrolldown" href="https://adalab.es"><img class="scrollimage" src="/assets/images/ico-scroll-down.svg"
        srcset=""></div>
  </section>


</header>