<main class="main">
  <article>
    <p>Insomnia Tips</p>
    <h2>Looking Through A Window</h2>
    <p>Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper
      sodales rutrum.</p>
    <button>Go</button>
  </article>
  <article>
    <h2>3 Reasons To Purchase</h2>
    <h3>Ud sed metus</h3>
    <p>Lorem ipsum dolor sit amet, consecteur.</p>
    <h3>Curabitur ac erat</h3>
    <p>Mauris mattis urna quis lorem molestie.</p>
    <h3>Morbi dictum</h3>
    <p>Aliquam in dolor et dolor tincidunt.</p>
    <a>More reasons</a>

  </article>

</main>
